* {
  margin: 0;
  padding: 0;
}

.main {
  font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
  overflow: auto;
  height: 100%;
  margin: 0 auto;
  background: url(../img/main.jpg) no-repeat top center;
  background-size: 100% 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 30%;
}

h1 {
  font-size: 70px;
  font-weight: normal;
  margin: 20px 0;
  text-align: center;
  color: #f00;
  /*text-shadow: 1px 1px 1px #555;*/
  text-shadow: 0 0 #504f4e, 0 1px #424241, -1px 2px #353534, -2px 3px #282827, 0 6px 5px rgba(51, 50, 47, .8);
}

.clock-container {
  position: fixed !important;
  bottom: 150px;
  left: 150px;
}

.clock {
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 #504f4e, 0 1px #424241, -1px 2px #353534, -2px 3px #282827, 0 6px 5px rgba(51, 50, 47, .8);
}

.littleBoxes {
  position: relative;
  width: 612px;
  height: 612px;
  margin: 0 auto;
}

.littleBoxes > div {
  position: absolute;
  z-index: 999;
  overflow: hidden;
  width: 200px;
  height: 200px;
  text-align: center;
  border: 2px solid white;
  background-color: #f7f7f7;
  background-position: center center;
  box-shadow: 0 0 3px #555;
}

.littleBoxes div a.title {
  font-family: 'Microsoft YaHei UI';
  font-size: 48px;
  font-weight: bold;
  line-height: 200px;
  display: block;
  vertical-align: bottom;
  text-decoration: none;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  /*background: #91EF4A url(../bgItem.png) repeat-x top left;*/
  background-image: -webkit-radial-gradient(rgba(15, 241, 54, .50), rgba(35, 158, 212, .50));
  background-image: radial-gradient(rgba(15, 241, 54, .50), rgba(35, 158, 212, .50));
  box-shadow: 1px 1px 3px #777;
  text-shadow: 1px 1px 1px #888;
  /*text-shadow: 0px 0px #504F4E, 0px 1px #424241, -1px 2px #353534, -2px 3px #282827, 0px 6px 5px rgba(51, 50, 47, 0.8);*/
}

.littleBoxes div.boxcontent {
  /*padding: 10px;*/
  font-size: 16px;
  display: none;
  width: 612px;
  /*612*/
  height: 412px;
  /*412*/
  text-align: left;
  opacity: .8;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 3px #777;
  /*border: 2px solid #fff;*/
  /*margin: 10px 0px 0px 10px;*/
  text-shadow: 1px 1px 1px #fff;
}

.littleBoxes div a.title:hover {
  color: silver;
  text-shadow: 0 0 #195caf, 0 1px #16529b, -1px 2px #144788, -2px 3px #113d74, 0 6px 5px rgba(51, 50, 47, .8), 0 0 1em #1c66c2;
}
